/* src/components/Navbar.css */

.navbar {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo h1 {
    color: white;
    margin: 0;
}

.navbar .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar .nav-links li {
    margin-right: 20px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar .nav-links a:hover {
    text-decoration: underline;
}